<nav class="navbar navbar-default vertical-container" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">

                <img class="logo-img" src="content/images/logo.png" alt="logo"/>
                <span style="font-family: 'aller-bold';"><strong>CodeBlog</strong></span>
                <!--
                <span class="navbar-version">v{{VERSION}}</span>
                -->
            </a>
        </div>

        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" >
                        <span class="glyphicon glyphicon-home"></span>
                        <span >首页</span>
                    </a>
                </li>

                <li  ng-class="{active: vm.$state.includes('article')}" >
                    <a ui-sref="article"  >
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span >时间轴</span>
                    </a>
                </li>

                <li ng-class="{active: vm.$state.includes('achieve')}" >
                    <a ui-sref="achieve"  >
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span >归档</span>
                    </a>
                </li>

                <li ng-class="{active: vm.$state.includes('gallery')}" >
                    <a ui-sref="gallery" >
                        <span class="glyphicon glyphicon-picture"></span>
                        <span >相册</span>
                    </a>
                </li>

                <li ng-class="{active: vm.$state.includes('about')}" >
                    <a ui-sref="about" >
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span >关于</span>
                    </a>
                </li>

                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
