<div>
    <h2 data-translate="codeBlogApp.gallery.home.title">Galleries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="gallery.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="codeBlogApp.gallery.home.createLabel">
                        Create new Gallery
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="codeBlogApp.gallery.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="labelName"><span data-translate="codeBlogApp.gallery.labelName">Label Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span data-translate="codeBlogApp.gallery.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imgUrl"><span data-translate="codeBlogApp.gallery.imgUrl">Img Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shortMsg"><span data-translate="codeBlogApp.gallery.shortMsg">Short Msg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="codeBlogApp.gallery.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resourceType"><span data-translate="codeBlogApp.gallery.resourceType">Resource Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gallery in vm.galleries track by gallery.id">
                    <td><a ui-sref="gallery-detail({id:gallery.id})">{{gallery.id}}</a></td>
                    <td>{{gallery.userId}}</td>
                    <td>{{gallery.labelName}}</td>
                    <td>{{gallery.category}}</td>
                    <td>{{gallery.imgUrl}}</td>
                    <td>{{gallery.shortMsg}}</td>
                    <td>{{gallery.createTime | date:'medium'}}</td>
                    <td>{{gallery.resourceType}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="gallery-detail({id:gallery.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gallery.edit({id:gallery.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gallery.delete({id:gallery.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
